#!/bin/sh

### BEGIN INIT INFO
# Provides:		dbmon
# Required-Start:	$remote_fs $network $syslog
# Required-Stop:	$remote_fs $network $syslog
# Default-Start:	2 3 4 5
# Default-Stop:		0 1 6
# Short-Description:	Start dbmon at boot time
# Description:		PSCE dbmon
### END INIT INFO

PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

DAEMON=/usr/local/bin/dbmon
NAME=dbmon
USER=root
DESC=dbmon

DBMON_CONF=<%= node['dbmon']['config'] %>
DBMON_PID=<%= node['dbmon']['pid'] %>


test -e $DAEMON || exit 0

test -f /lib/lsb/init-functions || exit 1
. /lib/lsb/init-functions


if [ -f /etc/default/dbmon ]; then
	. /etc/default/dbmon
fi

set -e

case "$1" in
	start)
		echo -n "Starting $DESC: "
		if status_of_proc "$DAEMON" $DESC > /dev/null; then
			log_begin_msg "Already running."
		else
			start-stop-daemon --start --quiet --background --pidfile $DBMON_PID --make-pidfile --exec $DAEMON -- -c $DBMON_CONF -p $DBMON_PID -f
			echo "$NAME."
		fi
		;;

	stop)
		echo -n "Stopping $DESC: "
		start-stop-daemon --stop --oknodo --quiet --user root --pidfile $DBMON_PID
		echo "$NAME."
		;;

	restart|force-reload)
		echo -n "Restarting $DESC: "
		start-stop-daemon --stop --oknodo --quiet --user root --pidfile $DBMON_PID
		sleep 1
		start-stop-daemon --start --quiet --background --pidfile $DBMON_PID --make-pidfile --exec $DAEMON -- -c $DBMON_CONF -p $DBMON_PID -f
		echo "$NAME."
		;;

	status)
		start-stop-daemon --test --stop --quiet --user root --pidfile $DBMON_PID && \
			log_success_msg "DbMon daemon is running." || \
			( log_failure_msg "DbMon daemon is NOT running" && exit 1 )
		;;		

	check)
		$DAEMON $DAEMON_OPTS "-n"
		;;

	*)
		N=/etc/init.d/$NAME
		echo "Usage: $N {start|stop|restart|force-reload|status|check}" >&2
		exit 1
		;;
esac

exit 0
