[global]
<% @global.each do |item, value| -%>
<%= item %> = <%= value %>
<% end -%>
<% @tasks.each do |task, config| -%>

[<%= task %>]
<% config.each do |item, value| -%>
<%= item %> = <%= value %>
<% end -%>
<% end -%>