#!/bin/bash
#
#       /etc/rc.d/init.d/dbmon
#
#       Starts dbmon as a daemon
#
# chkconfig: 2345 20 80
# description: Starts dbmon as a daemon
# pidfile: /var/run/dbmon.pid

### BEGIN INIT INFO
# Provides: dbmon
# Required-Start: $local_fs $remote_fs
# Required-Stop: $local_fs $remote_fs
# Default-Start: 2 3 4 5
# Default-Stop: S 0 1 6
# Short-Description: dbmon
# Description: Starts dbmon as a daemon.

# Source function library.
. /etc/init.d/functions

RETVAL=0
PROGRAM=dbmon
LOCKFILE=/var/lock/subsys/$PROGRAM

DBMON=/usr/bin/dbmon
DBMON_CONF=<%= node['dbmon']['config'] %>
DBMON_PID=<%= node['dbmon']['pid'] %>

start() {
        echo -n "Starting $PROGRAM: "
        daemon $DBMON -c $DBMON_CONF -p $DBMON_PID 
        RETVAL=$?
        [ $RETVAL -eq 0 ] && touch $LOCKFILE
        echo
        return $RETVAL
}

stop() {
        echo -n "Shutting down $PROGRAM: "

        PID=$(/bin/cat $DBMON_PID)
        RETVAL=$?
        if [ $RETVAL -eq 0 ]
        then
                /usr/bin/kill -TERM $PID
                RETVAL=$?
        fi
        [ $RETVAL -eq 0 ] && rm -f $LOCKFILE
        echo
        return $RETVAL
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        stop
        start
        ;;
    *)
        echo "Usage: <servicename> {start|stop|restart}"
        exit 1
        ;;
esac
exit $?
